<h2>contactus works!</h2>

<table border="1">
    <tbody>
        <tr>
            <td>Your name:</td>
            <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>Your Email:</td>
            <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>Your mobile no.:</td>
            <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>Your message:</td>
            <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>Send</td>
        </tr>
        <tr>
            <td>Cancel</td>
        </tr>
    </tbody>
</table>